aiohttp
asyncpg
bleach
confluent-kafka
faust-streaming
fastapi
groq
feedparser
prometheus-client
pydantic
pydantic-settings
pyyaml
qdrant-client
redis
sentence-transformers
sqlalchemy[asyncio]
structlog
uvicorn
